/*------------------------------------*\
    #LISTS
\*------------------------------------*/





.tags {
    display: inline-block;
    margin-top: 0;
    padding-left: 0;
    margin-left: 0;
}

.tag-item {
    list-style: none;
    display: inline-block;
    text-decoration: none;
    padding-left: 0;
    margin-bottom: 0;
    margin-left: 0;
}
